@import "~office-ui-fabric-react/dist/sass/References.scss";

.helloCache {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  background-color: #fff;
  border: 1px solid #444;
}

.button {
  color: "[theme:link, default:#03787c]";
  color: var(--link);
  background-color: #fff;
  border: 1px solid #444;
  padding: 15px 30px;
  margin: 20px 30px;
  cursor: pointer;
}

.wrapper {
  max-height: 300px;
  overflow: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  background: #f7f7f7;
  border: 1px solid;
  margin: 15px 0;
  padding: 1em;
}
